/* Large devices */
@media screen and (min-width: 900px){
    body {
        box-sizing: border-box;
        /* height: 100vh; */
        display: grid;
        grid-gap: 1rem;
        grid-template-columns: 1fr 3fr;
        /* grid-template-rows: 10% auto 10%; */
        grid-template-rows: min-content 1fr min-content;
        grid-template-areas: "h h"
        "s m"
        "f f";
    }

    header {
        grid-area: h;
        background: lightseagreen;
        /* border: 0.4rem solid lightseagreen; */
    }
    
    nav {
        grid-area: s;
        background: tomato;
        /* border: 0.4rem solid tomato; */
    }
    
    main {
        grid-area: m;
        background: steelblue;
        /* border: 0.4rem solid steelblue; */
    }
    
    footer {
        grid-area: f;
        background: rosybrown;
        /* border: 0.4rem solid rosybrown; */
    }
}