/* Small devices */
@media screen and (max-width: 599px){
    body {
        display: grid;
        grid-gap: 1rem;
        grid-template-columns: 1fr 3fr;
        grid-template-rows: min-content auto min-content;
        grid-template-areas: "h h"
        "s s"
        "m m"
        "f f ";
    }

    header {
        grid-area: h;
        background: lightseagreen;
        /* border: 0.4rem solid lightseagreen; */
    }
    
    nav {
        display: none;
        grid-area: s;
        background: tomato;
        /* border: 0.4rem solid tomato; */
    }
    
    main {
        grid-area: m;
        background: steelblue;
        /* border: 0.4rem solid steelblue; */
    }
    
    footer {
        grid-area: f;
        background: rosybrown;
        /* border: 0.4rem solid rosybrown; */
    }
}