.sidebar-container {
  min-height: 100vh; 
  background: #222222;
}

.sidebar {
  top: 70px;
}

.sidebar li a:hover {
  color: white;
}

nav {
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    background: #222222;
}

.remove-padding{
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
}
  