/* Reset margins */
*, *::before, *::after {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans', sans-serif;
}

main ul {
    padding-left: 2em;
}

main ol {
    padding-left: 2em;
}

.header {
    background: #0050a5;
    position: fixed;
    width: 100%;
    z-index: 999;
}

.header h1 {
    font-family:"Rajdhani", sans-serif;
    font-size: 3em;
    color: white;
    font-weight: 300;
    padding-left: 1em;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
}

.nav-toggle {
    display: none;
}

nav ul {
    list-style: none;
}

nav li {
    text-decoration: none;
    width: 100%;
}

nav li.active {
    background: #0050a5;
}

header a {
    /* margin: 1em; */
    text-decoration: none;
    color: white;
}

nav a {
    display: block;
    padding-left: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

nav {
    position: absolute;
    background: #222;
    height: 80vh;
    overflow-y: auto;
}

main {
    padding-top: 7em;
    padding-bottom: 6em;
    position: relative;
}

div.img {
    overflow-x: auto;
}

img {
    border: 1px solid darkgray;
}

svg.page-next {
    position: fixed;
    padding: 0;
    margin: 0;
    top: 50vh;
    right:0;
    width: 2em;
    height: 2em;
    fill: #777777;
}

main.no-sidebar a {
    position: relative;
    text-decoration: none;
    color: #444444;
}

/* For mobile screens */
@media screen and (max-width: 690px){

    .nav-ham {
        position: absolute;
        top:0;
        left: 0;
        height: 100%;
        display: flex;
        align-items: center;
        padding-left: 1em;
    }

    .nav-ham svg {
        /* font-size: 5em; */
        fill:white;
        width: 1.5em;
        height: 1.5em;
    }

    .nav-toggle:checked ~ nav {

        transform: scale(1, 1);
    }

    nav {
        width: 40%;
        transform: scale(0, 1);
        transform-origin: left;
        transition: transform 200ms ease-in-out;
    }

    main {
        padding-left: 3em;
        padding-right: 3em;
    }

    img {
        width: 100%;
    }

    svg.page-prev {
        position: fixed;
        padding: 0;
        margin: 0;
        top: 50vh;
        left:0;
        width: 2em;
        height: 2em;
        fill: #777777;
    }

    div.card-simple {
        width: 100%;
        height: 12em;
        box-shadow: 0 0 0.3em rgba(0, 0, 0, 0.3);
    }

    div.card-simple div.thumb {
        background: url("../img/django-logo-negative.png");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 50%;
    }
    
    div.card-simple div.caption{
        width: 100%;
        padding-top: 1.5em;
        text-align: center;
        font-size: 20px;
    }
}

/* For larger screens (tables, laptops and desktops) */
@media screen and (min-width: 691px){

    .nav-ham {
        display: none;
    }

    nav {
        width: 15em;
    }

    main {
        padding-left: 18em;
        padding-right: 10%;
    }

    img {
        width: 60%;
    }

    svg.page-prev {
        position: fixed;
        padding: 0;
        margin: 0;
        top: 50vh;
        left:15.5em;
        width: 2em;
        height: 2em;
        fill: #777777;
    }

    main.no-sidebar {
        padding-left: 6em;
        padding-right: 6em;
        padding-bottom: 0;
    }

    div.card-simple {
        width: 100%;
        height: 6em;
        display: flex;
        box-shadow: 0 0 0.3em rgba(0, 0, 0, 0.3);
    }
    
    div.card-simple div.thumb {
        background: url("../img/django-logo-negative.png") center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 30%;
        height: 100%;
    }
    
    div.card-simple div.caption{
        width: 70%;
        padding-left: 1.5em;
        font-size: 26px;
        display: flex;
        align-items: center;
    }
    
}