<main>
        <h2> Templates </h2>
                <p>
                Templates are Django framework's solution to generating
                html dynamically. A <a class="plain" href="https://docs.djangoproject.com/en/2.0/topics/templates/">
                Django template</a> essentially is a way
                to combine static html with dynamic content described by
                Django Template Language( <a href="https://docs.djangoproject.com/en/dev/ref/templates/language/">DTL</a>) syntax.
                </p>
                <p>
                There are three important parts to the template system in django
                framework:</p>
                <ol type="1">
                  <li>Variables</li>
                  <li>Tags</li>
                  <li>Template Inheritence</li>
                </ol>
                <p>
                We will discuss these components in brief one by one but I recommend going
                over the official documentation for a detailed read.
                </p>
                <h4>Variables</h4>
                <p>
                These are the syntactical items that when evaluated by the template engine,
                are rendered on the html page. The syntax for variables are
                <strong>{{ variable }}</strong>. Notice the space between the variable and
                the brackets.
                </p>
                <h4>Tags</h4>
                <p>
                These are used for control flow using loops or logic and at other times
                used for import (not the word import per se but importing stuff in general).
                The syntax for tags is <strong>{% tag %} &lt;content&gt; {% endtag %}</strong>
                </p>
                <p>
                An example usage of variables and tag in a typical django template would be:
    </p>
                <pre><code class="language-django">&lt;ul&gt;
    {% for athlete in athlete_list %}
        &lt;li&gt;{{ athlete.name }}&lt;/li&gt;
    {% endfor %}
    &lt;/ul&gt;</code></pre>
    <p>
                We have already seen some of this in our journey so far and therefore I think
                you must be familiar enough to understand what is going on.
                </p>
                <h4>Template Inheritance</h4>
                <p>
                This is the most powerful aspect of the django template engine. Using template
                inheritance, we can define blocks of code in a parent template that can
                then be overridden by any child template.
                </p>
                <p>
                Let us try to understand how template inheritance works using our tutorial projec
                that we set up. First, let us make a 'base.html' file in our templates folder:
    </p>
                <pre><code class="language-treeview">tutorial//
    |-- assets//
    |   `-- media//
    |       `-- student_pics//
    |           |-- airplanes-children-toys-dolls-920860.jpg
    |           |-- akshay_gz8AM9g.jpg
    |           `-- akshay.jpg
    |-- manage.py*
    |-- students//
    |   |-- admin.py
    |   |-- apps.py
    |   |-- forms.py
    |   |-- __init__.py
    |   |-- migrations//
    |   |-- models.py
    |   |-- templates//
    |   |   |-- base.html  &lt;------------------------THIS ONE RIGHT HERE
    |   |   |-- dept-details.html
    |   |   |-- dept-list.html
    |   |   |-- stud-details.html
    |   |   |-- stud-edit.html
    |   |   |-- stud-list.html
    |   |   `-- welcome.html
    |   |-- tests.py
    |   |-- urls.py
    |   `-- views.py
    `-- tutorial//
        |-- __init__.py
        |-- settings.py
        |-- urls.py
        `-- wsgi.py</code></pre>
                 <p>
                And put the following in it:
    </p>
                <pre class="line-numbers"><code class="language-django">&lt;!doctype html&gt;
    &lt;html lang="en"&gt;
    &lt;head&gt;
        &lt;meta charset="UTF-8"&gt;
        &lt;title&gt;
        {% block title %}
          Base HTML 
        {% endblock title %}
        &lt;/title&gt;
        &lt;style&gt;
            body {
                font-family: Arial;
                margin-bottom: 60px;
            }
    
            .header{
                padding: 10px 16px;
                background: #555;
                color: #f1f1f1;
            }
    
            .footer {
                position: absolute;
                bottom: 0;
                width: 100%;
                height: 60px;
                background: #555;
                color: #f1f1f1;
            }
        &lt;/style&gt;
    &lt;/head&gt;
    &lt;body&gt;
    &lt;header class="header" id="myHeader"&gt;
        &lt;h1&gt;Django Tutorial&lt;/h1&gt;
    &lt;/header&gt;
    
    {% block content %}
      {# Your content goes here #}
    {% endblock content %}
    
    &lt;footer class="footer" id="myFooter"&gt;
        &lt;h3&gt;My Footer&lt;/h3&gt;
    &lt;/footer&gt;
    &lt;/body&gt;
    &lt;/html&gt;</code></pre>
                <br/>
                Please note lines:
                <ul>
                  <li><em>6-8:</em> We define a block in the this parent template named base.html
                which will contain the title of the page.</li>
                  <li><em>38-40:</em> We define a block of content that will sit in our body tag 
                  of our html.
                </ul>
                To override these blocks defined in base.html file, we will first edit the welcome.html
                file that we created earlier.
                <p>
                In the file welcome.html in our templates folder, remove everything we had and 
                put the following:
                <pre><code class="language-django">{% extends 'base.html' %}
    
    {% block title %} Welcome! {% endblock title %}
    {% block content %}
        &lt;h1&gt;Welcome!!!&lt;/h1&gt;
    {% endblock content %}</code></pre>
                 <p>
                Now go back to 127.0.0.1:8000 in your browser and if we are lucky and everything
                went well, you should see the following:
                </p> <p>
                <img src="../img/django-32-template-inheritance.png" alt="Template inheritance" width="500">
                </p>
                <p>
                Success!!! If you look at the base.html and its blocks that we defined, you will
                notice that we replaced the content that would have gone in those blocks with those
                in welcome.html.
                <p>
                <p>
                We were able to do this by telling Django Template Engine that our welcome.html file 
                will extend the base.html file using the <strong> {% extends 'base.html' %} </strong> declaration
                at the top of the welcome.html file. Note that the extends template tag should be
                declared at the start of the file.
                </p>
                <p>
                Then, declare the blocks that we are going to replace and put the content that
                will go in those tags. It is that easy!
                </p>
                <p>
                Now, we can similarly edit all our html files like this and only put the
                content and not worry about all the other stuff such as headers, footers
                and even navigation sidebars.
                </p>
                <p>When you are done with making all the changes, you will find that
                we trimmed up a lot of code. This helps making the code cleaner so much!
                </p>
                <p>After this short detour, let us continue with our Class Based Views (CBDs).</p>
        </main>