# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION BEGIN
PassengerAppRoot "/home/akshayga/djangosite"
PassengerBaseURI "/djangosite"
PassengerPython "/home/akshayga/virtualenv/djangosite/3.6/bin/python3.6"
# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION END
